[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=bioroboost
Group=www-data
WorkingDirectory=/var/www/html/sqrutiny/SQRUTINY/web_app/backend
ExecStart=/home/bioroboost/miniconda3/envs/sqrutinyenv/bin/gunicorn \
          --access-logfile /var/www/html/sqrutiny/access.log \
          --error-logfile /var/www/html/sqrutiny/error.log\
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          sqrutiny.wsgi:application

[Install]
WantedBy=multi-user.target
