<!-- Loading placeholder -->
<sqy-history-loading *ngIf="isLoading"></sqy-history-loading>

<div class="ui grid p-4 mt-6" *ngIf="!isLoading">

  <!-- HEADER -->

  <div class="row">

    <div class="sixteen wide column">

      <div class="ui segment status" [ngClass]="getStatusClass()">

        <div class="ui internally celled grid">

          <div class="stretched row">

            <div class="twelve wide column">

              <div class="ui padded one column grid">

                <div class="column">
                  <h2 class="ui header">
                    {{history.name}}
                  </h2>
                  <div class="ui icon orange basic label" *ngIf="history.isActive()">
                    <i class="spinner loading icon"></i> {{history.job.status | titlecase}}
                  </div>
                  <div class="ui icon green basic label" *ngIf="history.isDone()">
                    <i class="check icon"></i> {{history.job.status | titlecase}}
                  </div>
                  <div class="ui icon red basic label" *ngIf="history.hasFailed()">
                    <i class="exclamation triangle icon"></i> {{history.job.status | titlecase}}
                  </div>
                  <span class="date">
                    <time [dateTime]="history.created_at">{{history.created_at | date}}</time>
                  </span>
                </div>

                <div class="column">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>

                <div class="column">
                  <div class="ui very relaxed horizontal selection large list">
                    <div class="item">
                      <i class="barcode large icon"></i>
                      <div class="content">
                        <a class="header" href="#construct">Construct</a>
                        <p>Check Construct details</p>
                      </div>
                    </div>
                    <div class="item">
                      <i class="chart bar outline large icon"></i>
                      <div class="content">
                        <a class="header">Plot area</a>
                        <p>Go to sequence plot area</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>

            <div class="four wide column">

              <div class="ui vertically divided grid">

                <div class="row">
                  <div class="column">

                    <div class="ui equal width center aligned grid">
                      <div class="column">
                        <button class="ui primary right labeled icon button" (click)="getJob()" [disabled]="isLoading" type="button" name="refresh">
                          Refresh <i class="sync icon"></i>
                        </button>
                      </div>

                      <div class="column">
                        <button class="ui primary right labeled icon button" type="button" disabled [routerLink]="['/optimize', history.construct.specie.slug, 'sketcher', history.construct.id]">
                          Reuse <i class="recycle icon"></i>
                        </button>
                      </div>

                      <div class="column">
                        <button class="ui negative right labeled icon button" [disabled]="isLoading" type="button" name="button" (click)="deleteHistory()">
                          Delete <i class="trash icon"></i>
                        </button>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="row" *ngIf="history.isActive()">
                  <div class="center aligned column">
                    <h3 class="ui header">The page content will be refreshed in:</h3>
                    <div class="ui statistic">
                      <div class="value">
                        <!-- {{counter}} -->
                      </div>
                      <div class="label">
                        Seconds
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

  <!-- INFORMATION -->

  <div class="one column row">
    <div class="column">
      <h2 class="ui dividing header">Construct</h2>
      <a id="construct"></a>
    </div>
  </div>

  <div class="one column row">

    <div class="column">

      <div class="ui very padded segment">

        <table class="ui definition blue table">
          <tbody>
            <tr>
              <td class="two wide column">Label</td>
              <td>
                <h3 class="ui header">{{history.construct.label}}</h3>
              </td>
            </tr>
            <tr>
              <td>Specie</td>
              <td>
                <a href="" style="font-weight: bold">
                  {{history.construct.specie.name}}
                </a>
              </td>
            </tr>
            <tr>
              <td>Circular</td>
              <td>
                <i class="icon" [ngClass]="{'green check circle': history.construct.circular, 'times circle red': !history.construct.circular}"></i>
              </td>
            </tr>
            <tr>
              <td>
                Elements
              </td>
              <td>
                {{history.construct.n_tracks}}
              </td>
            </tr>
            <tr>
              <td>
                Sequence
              </td>
              <td class="fitted">
                <div>
                  {{history.construct.sequence}}
                </div>
                <div>
                  <a href="">See all sequence</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>

  </div>

  <!-- GRAPHS -->

  <div class="one column row">
    <div class="column">
      <h2 class="ui dividing header">Plot area</h2>
    </div>
  </div>

  <div class="one column row">

    <div class="column">

      <div class="ui placeholder segment" style="min-height: 500px" *ngIf="!history.isDone()">
        <div class="ui icon header">
          <i class="eye slash outline icon"></i>
          Data not available.
        </div>
        <button class="ui primary right labeled icon button" (click)="getJob()" [disabled]="isLoading" type="button" name="refresh">
          Refresh <i class="sync icon"></i>
        </button>
      </div>

      <div class="ui padded segment" *ngIf="history.isDone()">

        <div class="ui divided grid">

          <div class="equal width center aligned middle aligned row protvista actions">
            <div class="column">
              <a (click)="clearHighlight()" data-inverted="" data-tooltip="Reset charts" data-position="top center">
                <i class="sync large circular link icon"></i>
              </a>
            </div>
            <div class="column">
              <a (click)="clearHighlight()" data-inverted="" data-tooltip="Clear highlight" data-position="top center">
                <i class="eraser large circular link icon"></i>
              </a>
            </div>
            <div class="column">
              <div class="ui icon fluid input" [ngClass]="{'loading disabled': isSearching}">
                <i class="search icon"></i>
                <input type="text" placeholder="Search for motif" (keyup.enter)="searchMotif($event)">
              </div>
              <span class="ui red">{{msg}}</span>
            </div>
            <div class="column">
              <button class="ui primary right labeled icon button simple dropdown" type="button">
                Export to
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item">
                    <i class="file icon"></i>
                    PNG/JPG
                  </div>
                  <div class="item">
                    <i class="dna icon"></i>
                    GenBank
                  </div>
                </div>
              </button>
            </div>
          </div>

          <div class="equal width center aligned middle aligned row">
            <div class="column">
              <strong>Sequence length:</strong> {{history.construct.sequence.length}}
            </div>
            <div class="column">
              <strong>Number of tracks: {{history.construct.n_tracks}}</strong>
            </div>
            <div class="column" [hidden]="!motif">
              <strong>Motif found:</strong>
            </div>
          </div>

          <div class="row">
            <div class="sixteen wide column">
              <protvista-manager attributes="length displaystart displayend variantfilters highlight">

                <protvista-navigation length="600" class="protvista"></protvista-navigation>
                <div>
                  <p> <i class="info icon"></i>If the sequence is not visible just zoom in to display it</p>
                </div>
                <protvista-sequence class="protvista" highlight-event="onmouseover" id="sequence-track"></protvista-sequence>
                <protvista-interpro-track class="protvista" id="interpro-track-residues" shape="roundRectangle" highlight-event="onmouseover"></protvista-interpro-track>

                <div class="ui equal width padded center aligned grid">
                  <div class="column">
                    <a class="ui label" (click)="displayAll()">
                      <i class="eye icon"></i>
                      Display all
                    </a>
                  </div>
                  <div class="column">
                    <a class="ui label" (click)="hideAll()">
                      <i class="eye slash icon"></i>
                      Hide all
                    </a>
                  </div>
                  <div class="column" *ngFor="let o of options">
                    <a class="ui label" [ngClass]="{'teal': o.display}" (click)="o.display = !o.display">
                      <i class="eye icon" [ngClass]="{'slash': o.display}"></i>
                      {{o.name | titlecase}}
                    </a>
                  </div>

                  <div class="sixteen wide column" [hidden]="!op.display" *ngFor="let op of options; let i = index">
                    <h3 class="ui horizontal divider header">{{op.name | titlecase}}</h3>
                    <div class="float-r">
                      <span data-inverted="" data-position="top center" data-tooltip="Move up" [hidden]="i < 1 || options.length < 2" (click)="move(i, -1)"><i class="arrow up link icon"></i></span>
                      <span data-inverted="" data-position="top center" data-tooltip="Move down" [hidden]=" i === options.length - 1 || options.length < 2" (click)="move(i, 1)"><i class="arrow down link icon"></i></span>
                      <span data-inverted="" data-position="top center" data-tooltip="Hide"><i class="eye slash link icon" (click)="op.display = false"></i></span>
                    </div>
                    <protvista-variation-graph class="protvista var-graph" id="var-graph-promoters"></protvista-variation-graph>
                  </div>
                </div>

              </protvista-manager>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
