<!-- User history picker modal-->
<div class="ui padded grid">

  <div class="row">
    <div class="column">

      <div class="ui placeholder segment" *ngIf="!isLoading && !histories.length">
        <div class="ui icon header">
          <i class="list ul icon"></i>
          Yo have no history.
        </div>
      </div>

      <table class="ui very basic table b-0" *ngIf="!isLoading && histories.length">

        <thead>
          <tr>
            <th colspan="3">
              <div class="ui fluid small icon input">
                <input type="text" name="filter" placeholder="Filter">
                <i class="search icon"></i>
              </div>
            </th>
            <th colspan="4" class="right aligned">
              {{histories.length}} entries
            </th>
          </tr>
        </thead>

        <tbody>

          <tr [ngClass]="{'warning':  h.status != 'failed' && h.status != 'finished'}" *ngFor="let h of histories">
            <td>
              {{h.name}}
            </td>
            <td>
              <h3><a class="disabled">{{h.construct.label}}</a></h3>
            </td>
            <td>
              <strong>{{h.construct.name}}</strong>
            </td>
            <td>
              {{h.construct.specie.name}}
            </td>
            <td>
              <time [dateTime]="h.created_at">
                {{h.created_at | date: 'DD/MM/YYYY hh:mm'}}
              </time>
            </td>
            <td>
              <div class="ant-badge ant-badge-status ant-badge-not-a-wrapper link" data-inverted="" data-position="top center" [attr.data-tooltip]="h.status | titlecase">
                <span class="ant-badge-status-dot" [ngClass]="{'ant-badge-status-error': h.status === 'failed',
                  'ant-badge-status-success':  h.status === 'finished',
                  'ant-badge-status-processing': h.status != 'failed' && h.status != 'finished'}"></span>
              </div>
            </td>
            <td>
              <input type="radio" name="selected" (change)="handleSelect(h, $event.target.checked)">
            </td>
          </tr>

        </tbody>

      </table>
    </div>
  </div>

</div>
