<nav class="ui stackable fixed menu">

  <div class="ui container">
    <div class="ui large secondary pointing inverted menu">
      <a class="item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Home
      </a>
      <a class="item" routerLink="/optimize" routerLinkActive="active" nz-dropdown [nzDropdownMenu]="OpzMenu">
        Optimize
        <nz-dropdown-menu #OpzMenu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item routerLink="/optimize/sketcher" routerLinkActive="active">
              <i class="dna icon"></i>
              Sketcher
            </li>
            <li nz-menu-item routerLink="/optimize/upload" routerLinkActive="active">
              <i class="file outline icon"></i>
              Upload file
            </li>
          </ul>
        </nz-dropdown-menu>
      </a>
      <a class="item" routerLink="/editor" routerLinkActive="active">
        Vector editor
      </a>
      <a class="item" routerLink="/workspace" routerLinkActive="active">
        Workspace
        <div class="ui red label" [hidden]="count < 1">{{count}}</div>
      </a>
      <a class="item" routerLink="/contact" routerLinkActive="active">
        Contact
      </a>
    </div>
  </div>

</nav>
