<nav class="ui inverted stackable fixed menu main bg">

  <!-- <div class="left menu">
    <a class="item" routerLink="/">
      <h2 class="ui inverted header">SQrutiny</h2>
      <crg-logo></crg-logo>
    </a>
  </div> -->

  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a class="item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Home
      </a>
      <!-- <a class="item" routerLink="/construct" routerLinkActive="active">
        Browse
      </a> -->
      <a class="item" routerLink="/optimize/sketcher" routerLinkActive="active">
        Sketcher
      </a>
      <a class="item" routerLink="/editor" routerLinkActive="active">
        Vector editor
      </a>
      <a class="item" routerLink="/workspace" routerLinkActive="active">
        Workspace
        <div class="ui red label" [hidden]="count < 1">{{count}}</div>
      </a>
      <a class="item" routerLink="/documentation" routerLinkActive="active">
        Documentation
      </a>
      <a class="item" routerLink="/contact" routerLinkActive="active">
        Contact
      </a>
    </div>
  </div>

</nav>
