// .item>.icon {
//   margin-left: 0.8em !important;
// }

.ui.inverted.stackable.fixed.menu {
  // box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  height: 45px;

  .ui.secondary.inverted.pointing.menu {
    border-color: transparent !important;

    .item {
      font-weight: bold !important;
    }
  }
}
