<div class="ui main container">

  <div class="ui padded grid p-4">

    <div class="one column row">

      <div class="column">
        <h1 class="ui header">Recent history</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

    </div>

    <div class="two column row">

      <div class="column">

      </div>

      <div class="column right aligned">

        <button type="button" class="ui red right labeled icon button" (click)="clearHistory()" [disabled]="!isLoading && !histories.length" name="button">
          Clear history <i class="trash icon"></i>
        </button>

      </div>

    </div>

    <div class="one column row">

      <div class="column">

        <div class="ui placeholder segment" *ngIf="!isLoading && !histories.length">
          <div class="ui icon header">
            <i class="list ul icon"></i>
            Yo have no history yet.
          </div>
        </div>

        <div class="ui segment p-0" [ngClass]="{'loading': isLoading}" *ngIf="!isLoading && histories.length">

          <table class="ui very padded selectable basic table b-0">

            <thead>
              <tr>
                <th colspan="5">
                  Your history
                </th>
                <th class="right aligned">
                  {{histories.length}} entries
                </th>
              </tr>
            </thead>

            <tbody>

              <tr [ngClass]="{'warning':  h.status != 'failed' && h.status != 'finished'}" *ngFor="let h of histories">
                <td>
                  <h3><a [routerLink]="[h.id]">{{h.name}}</a></h3>
                </td>
                <td>
                  <h3><a class="disabled">{{h.construct.label}}</a></h3>
                </td>
                <td>
                  {{h.construct.specie.name}}
                </td>
                <td>
                  <time [dateTime]="h.created_at">
                    {{h.created_at | date}}
                  </time>
                </td>
                <td>
                  <div class="ant-badge ant-badge-status ant-badge-not-a-wrapper link" data-inverted="" data-position="top center" [attr.data-tooltip]="h.status | titlecase">
                    <span class="ant-badge-status-dot" [ngClass]="{'ant-badge-status-error': h.status === 'failed',
                      'ant-badge-status-success':  h.status === 'finished',
                      'ant-badge-status-processing': h.status != 'failed' && h.status != 'finished'}"></span>
                  </div>
                </td>
                <td class="ui center aligned">
                  <a (click)="deleteHistory(h.id)" data-inverted="" data-position="top center" data-tooltip="Delete">
                    <i class="trash link red icon"></i>
                  </a>
                </td>
              </tr>
            </tbody>

          </table>
        </div>

      </div>
    </div>

  </div>

</div>
