.ui.container {
  min-height: 700px;
  margin-bottom: 7em;
}

.masthead.segment {
  min-height: 400px;
  padding: 1em 0;
  border-radius: 0 !important;
  border: 0 !important;
}

.masthead h1.ui.header {
  margin-top: 1.5em;
  margin-bottom: 0;
  font-size: 3em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.2em;
  font-weight: normal;
}

.wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.required-msg {
  font-weight: normal !important;
}

// ::ng-deep .center-modal {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//
//   .ant-modal {
//     width: 1200px !important;
//     top: 0;
//
//     .ant-modal-body {
//       max-height: calc(90vh - 5em);
//       overflow: auto;
//     }
//   }
// }

.ui.circular.label {
  font-weight: bold;

  &:not(.no-color) {
    color: #fff !important;
  }

  &.no-color {
    background-color: #fff !important;
    color: black !important;
  }
}
