<!-- Footer -->
<div class="ui vertical footer basic segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <a class="item" href="#root">Sitemap</a>
          <a class="item" [routerLink]="'/contact'">Contact Us</a>
          <a class="item" href="http://serranolab.crg.eu/" target="_blank">Luis Serrano's Lab Group</a>
        </div>
      </div>
      <!-- <div class="three wide column">
        <h4 class="ui inverted header">Services</h4>
        <div class="ui inverted link list">
          <a class="item" href="#root">Banana Pre-Order</a>
          <a class="item" href="#root">DNA FAQ</a>
          <a class="item" href="#root">How To Access</a>
        </div>
      </div> -->
      <div class="seven wide column">
        <!-- <h4 class="ui inverted header">Footer Header</h4> -->
        <p>
          Copyright © 2019 <a href="http://www.crg.eu" target="_blank">Centre for Genomic Regulation</a>. All Right Reserved.
        </p>
      </div>
    </div>
  </div>
</div>
