$zoom-transition: .5s;

a.non-active {
  color: currentColor;
  opacity: 0.5;
  text-decoration: none;
}

.graphs .column {
  padding: 0;
}

.s-action a {
  margin: 0 0.7em;
}
@media only screen and (min-width: 1920px) {
  .ui.dropdown .scrolling.menu,
  .ui.scrolling.dropdown .menu {
    max-height: 25.57142857rem;
  }
}

p {
  -webkit-transition: font-size $zoom-transition ease-out;
  -moz-transition: font-size $zoom-transition ease-out;
  -o-transition: font-size $zoom-transition ease-out;
  transition: font-size $zoom-transition ease-out;

  &.notice {
    font-size: 15px;
  }
}
