a.non-active {
  color: currentColor;
  opacity: 0.5;
  text-decoration: none;
}

.graphs .column {
  padding: 0;
}

.s-action a {
  margin: 0 0.7em;
}
@media only screen and (min-width: 1920px) {
  .ui.dropdown .scrolling.menu,
  .ui.scrolling.dropdown .menu {
    max-height: 25.57142857rem;
  }
}
