.construct-canvas {
  width: 100%;
  min-height: 15em;
  border-top: none;
  position: relative;
  padding: 1em;
  max-height: 100vh;
  overflow-y: auto;

  .strand {
    width: 100%;
    min-height: 10rem;
    display: inline-block;

    &.invalid {
      background-color: #ffe8ec;
    }

    &:not(:first-child) {
      border-left: 2px dashed #ccc;
    }

    .track {
      display: inline-block;
      min-width: 2rem;
      position: relative;
      align-items: center;
      border-bottom: 1.5px solid #ccc;
      margin-bottom: 4rem;

      .index {
        position: absolute;
        bottom: -3.2em;
        width: 100%;
        text-align: center;
        font-weight: 700;
        color: #ddd;

        &::before {
          position: absolute;
          z-index: 2;
          content: '|';
          top: -2em;
          right: 50%;
        }
      }

      .header {
        padding: 1em;
        width: 100%;
        font-size: 0.8rem;

        input {
          color: rgb(136, 136, 136);
          text-align: center;
        }

        .remove {
          visibility: hidden;
          position: absolute;
          top: 0;
          right: 0;
          font-size: 1.1rem;
        }
      }

      div.image {
        cursor: pointer;
        font-size: 1em!important;
        left: 0;
        width: 100%!important;
        line-height: 0.8em!important;
        height: 5.5em!important;
        background-repeat: no-repeat !important;
        background-position: 50% 100% !important;
        z-index: 3;
      }

      &:hover > .header > .remove {
        visibility: visible;
      }
    }
  }
}

.credits {
  width: 100%;
  text-align: center;
  padding: 1.5rem;

  p {
    font-size: 12px;
    font-weight: bold;
    color: transparent;
    background: #bdbdbd;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0 3px 3px rgba(255,255,255,0.5);
  }
}

::ng-deep .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .ant-modal {
    width: 1000px !important;
    top: 0;

    .ant-modal-body {
      max-height: calc(90vh - 5em);
      overflow: auto;

      .track-picker {
        .column.track {
          z-index: 100 !important;
          height: 4.5em !important;
          margin: 0.4em !important;
          border: 0.3px solid #eee !important;
          box-shadow: 1px 1px 1px #eee !important;
          background-size: auto 100% !important;
          background-repeat: no-repeat !important;
          background-position: 50% 100% !important;
          cursor: pointer !important;

          &.selected {
            border: 2px solid #079ace !important;
            border-radius: 2px;
            box-shadow: 1px 1px 1px #eee !important;
          }
        }

        .hov-track {
          height: 1em;
          text-align: center;
          color: grey;
          font-weight: bold;
        }

        .ui.horizontal.divider {
          font-weight: normal;
          color: grey;
        }
      }
    }
  }
}

.show {
  visibility: visible !important;
}

div.ui.equal.width.center.aligned.middle.aligned.grid.actions > div.column {
  padding: 1.5rem !important;

  &:first-child {
    padding-left: 4rem !important;
  }

  &:last-child {
    padding-right: 4rem !important;
  }
}

.actions > .column > a {
  color: inherit !important;
}

.slider-wraper {
  position: relative;
  padding: 0 2.5rem;

  i.icon {
    position: absolute;
    top: -2px;
    line-height: 1;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.45);

    &:first-child {
      left: 0;
    }

    &:last-child {
      right: 0;
    }
  }
}

::ng-deep {
  .ant-dropdown.nz-dropdown {
    margin-top: 17px !important;
  }

  .ui.settings.dropdown .menu {
    position: relative !important;
  }
}
