<div class="ui basic segment internally celled grid sketcher" *ngIf="!isLoading" [ngClass]="{'loading disabled': sketcherLoading}">

  <div class="row">
    <div class="column">
      <div class="ui equal width center aligned middle aligned container grid">

        <div class="column">
          <div class="slider-wraper">
            <i class="zoom-in icon"></i>
            <nz-slider [nzMin]="50" [nzMax]="110" [nzTooltipVisible]="'never'" [(ngModel)]="zoom"></nz-slider>
            <i class="zoom-in icon"></i>
          </div>
        </div>

        <div class="column">
          <button class="ui circular icon primary button" data-inverted="" data-tooltip="Options" data-position="bottom center" nz-dropdown [nzDropdownMenu]="optionsMenu" nzTrigger="click" nzPlacement="bottomCenter">
            <i class="sliders horizontal icon"></i>
          </button>
        </div>

        <div class="column">
          <button class="ui circular icon primary button" data-inverted="" data-tooltip="Add tracks" data-position="bottom center" (click)="showPicker = true" [disabled]="isTracksLoading || locked">
            <i class="plus icon"></i>
          </button>
        </div>

        <div class="column">
          <button class="ui circular icon primary button" nz-dropdown [nzDropdownMenu]="settingsMenu" nzTrigger="click" nzPlacement="bottomCenter" [disabled]="isTracksLoading">
            <i class="cogs icon"></i>
          </button>
        </div>

        <div class="column">
          <button class="ui circular icon button" [ngClass]="{'primary': !locked,'orange': locked}" data-inverted="" [attr.data-tooltip]="!locked ? 'Lock' : 'Unlock'" data-position="bottom center" (click)="locked = !locked">
            <i class="lock icon" [ngClass]="{'open': !locked}"></i>
          </button>
        </div>

        <div class="column">
          <button class="ui circular icon primary button" nz-dropdown nzTrigger="click" [nzDropdownMenu]="downMenu" nzPlacement="bottomCenter">
            <i class="download icon"></i>
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="row canvas">

    <div class="eleven wide column p-0">

      <div class="ui internally celled grid m-0">

        <div class="row">

          <div class="column top-details-bar">

            <div class="ui form">

              <div class="inline four fields m-0">

                <div class="inline field txt-c">
                  <label>Total length:</label> {{construct.dna_seq?.length}} bps
                </div>

                <div class="inline field txt-c">
                  <label>From:</label>
                  <sqy-if-not-icon [value]="trackHovered?.start"></sqy-if-not-icon>
                </div>

                <div class="inline field txt-c">
                  <label>To:</label>
                  <sqy-if-not-icon [value]="trackHovered?.end"></sqy-if-not-icon>
                </div>


                <div class="inline field txt-c" *ngIf="locked">
                  <i class="lock icon"></i> Read only
                </div>

                <div class="inline field txt-c" *ngIf="!locked">
                  <i class="pencil alternate icon"></i> Write mode
                </div>

                <div class="inline field txt-c">
                  <i class="save icon"></i> <span class="meta">{{autoSave ? 'Enabled': 'Disabled'}}</span>
                </div>

                <div class="inline field txt-c">
                  <span class="meta">{{construct.tracks?.length}} tracks</span>
                </div>
              </div>

            </div>

          </div>

        </div>

        <div class="row">

          <div class="column construct">

            <div class="ui placeholder segment h-1-1" [hidden]="construct.tracks?.length || isLoading">
              <div class="ui icon header">
                The construct is empty. To add new tracks click on button below.
              </div>
              <button class="ui primary button" type="button" (click)="showPicker = true" [ngClass]="{'disabled loading': isTracksLoading}">
                Add tracks
              </button>
            </div>

            <div class="strand" [hidden]="!construct.tracks?.length || isLoading">

              <div class="track" id="track{{i}}" [style.width]="zoom/5.5+'rem'" *ngFor="let t of construct.tracks; let i = index" (mouseover)="trackHovered=t" (mouseout)="trackHovered=null">
                <div class="header">
                  <div class="ui fluid transparent large input" [ngClass]="{'show': t.label}">
                    <input type="text" name="track-label" placeholder="(label)" #trackLabel="ngModel" [(ngModel)]="t.label" [disabled]="locked">
                  </div>
                  <div class="actions">
                    <a [ngClass]="{'disabled': locked || i===0}" (click)="moveTrack(i, -1)">
                      <i class="left arrow  link icon"></i>
                    </a>
                    <a [ngClass]="{'disabled': locked || i===construct.tracks?.length-1}" (click)="moveTrack(i, +1)">
                      <i class="right arrow link icon"></i>
                    </a>
                    <a [ngClass]="{'disabled': locked}" (click)="removeTrack(t)">
                      <i class="trash red link icon"></i>
                    </a>
                  </div>
                </div>
                <div class="image" [ngStyle]="{background: 'url('+t.glyph_thumbnail+')', 'border-bottom': '1.5px solid '+t.color, 'background-size': 'auto '+zoom+'%'}" (click)="openSidebar(t, i)" data-inverted="" [attr.data-tooltip]="t.name"
                  data-position="bottom center"></div>
                <div [hidden]="!showIndexes" class="index">
                  {{i + 1}}
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="five wide column">

      <div class="ui grid">

        <div class="row">

          <div class="sixteen wide column">

            <div class="ui two item secondary pointing menu">
              <a class="item" (click)="view = 'general'" [ngClass]="{'active': view === 'general'}">
                General
              </a>
              <a class="item" (click)="view = 'tracks'" [ngClass]="{'active': view === 'tracks'}">
                Tracks <label [hidden]="construct.tracks?.length < 1" class="ui circular tiny label">{{construct.tracks?.length}}</label>
              </a>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="sixteen wide column" style="height: 80vh; overflow: auto">

            <form class="ui form" #constructForm="ngForm" (ngSubmit)="submit()" *ngIf="view === 'general'">

              <div class="required field">
                <label class="required-msg">Required fields are shown with</label>
              </div>

              <div class="required field">
                <label for="construct_specie">Select organism</label>
                <nz-select name="construct-specie" [(ngModel)]="specie.tax_id" (ngModelChange)="saveInSession()" required [nzLoading]="isLoading" [nzDisabled]="isLoading" nzShowSearch>
                  <nz-option *ngFor="let s of species" [nzLabel]="s.name" [nzValue]="s.tax_id"></nz-option>
                </nz-select>
              </div>

              <div class="grouped required fields">
                <label>Select the what features to check</label>
                <div class="field" *ngFor="let f of features">
                  <div class="ui checkbox">
                    <input type="checkbox" name="features" required checked (change)="featChange(f.alias, $event.target.checked)">
                    <label>
                      {{f.name}}
                      <sqy-info-popup [content]="f.description"></sqy-info-popup>
                    </label>
                  </div>
                </div>
              </div>

              <div class="required field" [ngClass]="{'error': name.invalid && (name.dirty || name.touched)}">
                <label for="construct_name">Enter a label</label>
                <input type="text" placeholder="Label / Name" id="construct_name" name="construct-name" #name="ngModel" required [(ngModel)]="construct.name" (ngModelChange)="saveInSession()">
              </div>

              <div class="inline field">
                <label>Circular</label>
                <input type="checkbox" [(ngModel)]="construct.circular" (ngModelChange)="saveInSession()" name="construct-circular">
              </div>

              <div class="inline field">
                <label for="construct_description">Description</label>
                <textarea [(ngModel)]="construct.description" (ngModelChange)="saveInSession()" id="construct_description" name="construct-description" rows="8" cols="80"></textarea>
              </div>

              <div class="field">
                <button class="ui secondary right labeled fluid icon button" [disabled]="!construct.tracks?.length || constructForm.invalid" type="submit">
                  Submit
                  <i class="angle right icon"></i>
                </button>
              </div>

            </form>

            <div class="ui one column grid" *ngIf="view === 'tracks'">

              <div class="column">
                <div class="ui fluid icon input">
                  <i class="search icon"></i>
                  <input type="text" placeholder="Search by label / type / sequence..." [(ngModel)]="search">
                </div>
              </div>

              <div class="column">
                <table class="ui blue definition table">

                  <thead>
                    <tr>
                      <th></th>
                      <th>
                        Label
                      </th>
                      <th>
                        Type
                      </th>
                      <th>
                        Size
                      </th>
                      <th></th>
                    </tr>
                  </thead>

                  <tbody>

                    <tr *ngIf="!construct.tracks?.length">
                      <td class="txt-c" colspan="5">The construct is empty. Add new tracks to visualize them here.</td>
                    </tr>

                    <tr *ngFor="let tr of construct.tracks | filterTracks: search; let in = index">
                      <td>
                        <div class="ui circular label" [ngClass]="{'no-color': !tr.color}" [style.background-color]="tr.color">#{{in+1}}</div>
                      </td>
                      <td>
                        <sqy-if-not-icon [value]="tr.label"></sqy-if-not-icon>
                      </td>
                      <td>
                        <sqy-if-not-icon [value]="tr.type"></sqy-if-not-icon>
                      </td>
                      <td>
                        <sqy-if-not-icon [value]="tr.sequence?.length"></sqy-if-not-icon>
                      </td>
                      <td class="center aligned">
                        <a data-inverted="" data-tooltip="Open" data-position="top center" [ngClass]="{'disabled': locked}" (click)="openSidebar(tr, in)">
                          <i class="edit icon"></i>
                        </a>
                        <a data-inverted="" data-tooltip="Move up" data-position="top center" [ngClass]="{'disabled': locked || in < 1}" (click)="moveTrack(in, -1)">
                          <i class="arrow up icon"></i>
                        </a>
                        <a data-inverted="" data-tooltip="Move down" data-position="top center" [ngClass]="{'disabled': locked || in >= construct.tracks?.length-1}" (click)="moveTrack(in, +1)">
                          <i class="arrow down icon"></i>
                        </a>
                        <a data-inverted="" data-tooltip="Delete" data-position="top center" [ngClass]="{'disabled': locked}" (click)="removeTrack(tr)">
                          <i class="x red icon"></i>
                        </a>
                      </td>
                    </tr>

                  </tbody>

                </table>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="row">
    <div class="column">
      <div class="credits">
        <p>
          Centre for Genomic Regulation ©
        </p>
      </div>
    </div>
  </div>

</div>

<!-- Track SideBar -->
<sqy-track-details (onSave)="addTrack($event)" [track]="track" (changePos)="changeTrack($event)" [max]="construct.tracks?.length"></sqy-track-details>

<!-- Tracks Modal Picker -->
<nz-modal nzWrapClassName="vertical-center-modal" nzTitle="Choose tracks" nzOkText="Add" [(nzVisible)]="showPicker" (nzAfterOpen)="getTracksByCategories()" [nzOkLoading]="isTracksLoading" [nzOkDisabled]="!someSelected()"
  (nzOnCancel)="showPicker = false" (nzOnOk)="addTracks()">
  <ng-container *ngIf="showPicker">
    <div class="ui basic segment one column grid track-picker mt-0" [ngClass]="{'loading': isTracksLoading}">
      <div class="column">
        <div class="ui message">
          <div class="header">
            Instructions
          </div>
          <ul class="list">
            <li>Click on each track to selected or deselect it.</li>
            <li>Hover the mouse over a track to display name</li>
            <li>Tracks will be added in selection order</li>
          </ul>
        </div>
      </div>

      <div class="column hov-track">
        {{hoveredName}}

        <div class="ui checkbox option">
          <input type="checkbox" (click)="toggleSelection($event)">
          <label>Select all</label>
        </div>

      </div>
      <ng-container *ngFor="let c of categories">
        <div class="column">
          <div class="ui horizontal divider">
            {{c.name}}
          </div>
        </div>
        <div class="eight column row">
          <div class="column track" *ngFor="let e of c.elements" [ngClass]="{'selected': e.selected}" [style.background]="'url('+e.glyph_thumbnail+')'" (mouseover)="hoveredName=e.type" (mouseout)="hoveredName=null" (click)="e.selected = !e.selected">
            <a class="floating ui blue label" *ngIf="e.selected">
              ✓
            </a>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>

</nz-modal>

<!-- Construct submit modal-->
<nz-modal [nzFooter]="null" [nzWidth]="800" [nzKeyboard]="false" [nzMaskClosable]="false" [(nzVisible)]="submitted" [nzClosable]="false" (nzOnCancel)="submitted = false">

  <div class="ui very padded one column grid" *ngIf="history">

    <div class="column">
      <h2 class="ui icon center aligned header">
        <i class="spinner loading icon"></i>
        <div class="content">
          Your construct: "{{construct.name}}" has been submitted!
        </div>
      </h2>
    </div>

    <div class="column">
      <p>Your job has been submitted successfully. In a few moments you will be redirected to your history. Once finished the work or you can visualize the results. Please be patient.</p>
    </div>

    <div class="column">
      <div class="ui horizontal divider">
        Summary
      </div>
    </div>

    <div class="column">
      <table class="ui blue small inverted table">

        <thead>
          <tr>
            <th>Label</th>
            <th>Specie</th>
            <th>Total tracks</th>
            <th>Circular</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              {{history?.construct?.name}}
            </td>
            <td>
              {{history?.construct?.specie.name}}
            </td>
            <td>
              {{history?.construct?.n_tracks}}
            </td>
            <td>
              <i class="icon" [ngClass]="{'green check': history?.construct.circular, 'times red': !history?.construct.circular}"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</nz-modal>

<!-- Download -->
<nz-dropdown-menu #downMenu="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    <li nz-menu-item (click)="downloadAs('Fasta')">
      <i class="dna icon"></i>
      Download as Fasta
    </li>
    <!-- <li nz-menu-item (click)="downloadAs('Excel')">
      <i class="file excel outline icon"></i>
      Download as Excel
    </li> -->
    <li nz-menu-item (click)="downloadAs('Json')">
      <i class="file code outline icon"></i>
      Download as JSON
    </li>
  </ul>
</nz-dropdown-menu>

<!-- Visibility -->
<nz-dropdown-menu #settingsMenu="nzDropdownMenu" tabindex="0">
  <ul nz-menu nzSelectable>
    <li nz-menu-item (click)="showIndexes = !showIndexes">
      Show/Hide indexes
      <i class="check small icon" [hidden]="!showIndexes"></i>
    </li>
  </ul>
</nz-dropdown-menu>

<!-- Options -->
<nz-dropdown-menu #optionsMenu="nzDropdownMenu" tabindex="0">
  <ul nz-menu nzSelectable>
    <li nz-menu-item (click)="autoSave = !autoSave">
      <i class="save icon"></i>
      Auto save {{autoSave ? 'enabled' : 'disabled'}}
    </li>
    <li nz-menu-item [nzDisabled]="!construct.dna_seq && !construct.dna_seq?.length" [sqy-clipboard]="construct.dna_seq">
      <i class="copy icon"></i>
      Copy sequence
    </li>
    <li nz-menu-item [nzDisabled]="locked" (click)="modelConstruct()">
      <i class="database icon"></i>
      Load model construct
    </li>
    <li nz-menu-item (click)="clear()" [nzDisabled]="!construct.tracks?.length || locked">
      <i class="eraser icon"></i>
      Clear construct
    </li>
  </ul>
</nz-dropdown-menu>
