.sketcher {
  max-height: 100vh;
  max-width: 100vw;
  overflow-y: auto;

  .slider-wraper {
    position: relative;
    padding: 0 2.5rem;

    i.icon {
      position: absolute;
      top: -2px;
      line-height: 1;
      font-size: 15px;
      color: rgba(0, 0, 0, 0.45);

      &:first-child {
        left: 0;
      }

      &:last-child {
        right: 0;
      }
    }
  }

  .canvas {
    height: 90vh;

    .top-details-bar {
      padding: 0.3em 1em;
    }

    .construct {
      min-height: 75vh;
      max-height: 85vh;
      overflow-y: auto;

      .strand {
        width: 100%;
        display: inline-block;

        .track {
          display: inline-block;
          min-width: 2rem;
          position: relative;
          align-items: center;
          border-bottom: 1.5px solid #ccc;
          margin-bottom: 4rem;

          &.invalid {
            background-color: #ffe8ec;
          }

          &:not(:first-child) {
            border-left: 2px dashed #ccc;
          }

          .index {
            position: absolute;
            bottom: -3.2em;
            width: 100%;
            text-align: center;
            font-weight: 700;
            color: #ddd;

            &::before {
              position: absolute;
              z-index: 2;
              content: '|';
              top: -2em;
              right: 50%;
            }
          }

          .header {
            padding: 1em;
            width: 100%;
            font-size: 0.8rem;

            input {
              color: rgb(136, 136, 136);
              text-align: center;
            }

            .remove {
              visibility: hidden;
              position: absolute;
              top: 0;
              right: 0;
              font-size: 1.1rem;
            }
          }

          div.image {
            cursor: pointer;
            font-size: 1em!important;
            left: 0;
            width: 100%!important;
            line-height: 0.8em!important;
            height: 5.5em!important;
            background-repeat: no-repeat !important;
            background-position: 50% 100% !important;
            z-index: 3;
          }

          &:hover > .header > .remove {
            visibility: visible;
          }
        }
      }
    }
  }

  .credits {
    text-align: center;

    p {
      font-size: 12px;
      font-weight: bold;
      color: transparent;
      background: #bdbdbd;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      text-shadow: 0 3px 3px rgba(255,255,255,0.5);
    }
  }
}

::ng-deep .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .ant-modal {
    width: 1000px !important;
    top: 0;

    .ant-modal-body {
      max-height: calc(90vh - 5em);
      overflow: auto;

      .track-picker {
        min-height: 500px;

        .column.track {
          z-index: 100 !important;
          height: 4.5em !important;
          margin: 0.4em !important;
          border: 0.3px solid #eee !important;
          box-shadow: 1px 1px 1px #eee !important;
          background-size: auto 100% !important;
          background-repeat: no-repeat !important;
          background-position: 50% 100% !important;
          cursor: pointer !important;

          &.selected {
            border: 2px solid #079ace !important;
            border-radius: 2px;
            box-shadow: 1px 1px 1px #eee !important;
          }
        }

        .hov-track {
          height: 1em;
          text-align: center;
          color: grey;
          font-weight: bold;

          .option {
            position: absolute;
            right: 0;
            top: 50%;
          }
        }

        .ui.horizontal.divider {
          font-weight: normal;
          color: grey;
        }
      }
    }
  }
}

.show {
  visibility: visible !important;
}

::ng-deep {
  .ant-dropdown.nz-dropdown {
    margin-top: 17px !important;
  }

  .ui.settings.dropdown .menu {
    position: relative !important;
  }
}

.required-msg {
  font-weight: normal !important;
}

.ui.circular.label {
  font-weight: bold;

  &:not(.no-color) {
    color: #fff !important;
  }

  &.no-color {
    background-color: #fff !important;
    color: black !important;
  }
}
