<div class="ui basic segment internally celled grid sketcher">

  <div class="row">
    <div class="column">
      <div class="ui equal width center aligned middle aligned container grid">

        <div class="column">
          <div class="ui placeholder">
            <div class="header">
              <div class="line"></div>
            </div>
          </div>
        </div>

        <div class="column">
          <button class="ui circular icon primary disabled button">
            <i class="sliders horizontal icon"></i>
          </button>
        </div>

        <div class="column">
          <button class="ui circular icon primary disabled button">
            <i class="plus icon"></i>
          </button>
        </div>

        <div class="column">
          <button class="ui circular icon primary disabled button">
            <i class="cogs icon"></i>
          </button>
        </div>

        <div class="column">
          <button class="ui circular icon disabled button">
            <i class="lock icon"></i>
          </button>
        </div>

        <div class="column">
          <button class="ui circular icon primary disabled button">
            <i class="download icon"></i>
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="row canvas">

    <div class="eleven wide column p-0">

      <div class="ui internally celled grid m-0">

        <div class="row">

          <div class="column top-details-bar">

            <div class="ui form">

              <div class="inline four fields m-0">

                <div class="inline field txt-c">
                  <div class="ui placeholder">
                    <div class="header">
                      <div class="line"></div>
                    </div>
                  </div>
                </div>

                <div class="inline field txt-c">
                  <div class="ui placeholder">
                    <div class="header">
                      <div class="line"></div>
                    </div>
                  </div>
                </div>

                <div class="inline field txt-c">
                  <div class="ui placeholder">
                    <div class="header">
                      <div class="line"></div>
                    </div>
                  </div>
                </div>

                <div class="inline field txt-c">
                  <div class="ui placeholder">
                    <div class="header">
                      <div class="line"></div>
                    </div>
                  </div>
                </div>

                <div class="inline field txt-c">
                  <div class="ui placeholder">
                    <div class="header">
                      <div class="line"></div>
                    </div>
                  </div>
                </div>

                <div class="inline field txt-c">
                  <div class="ui placeholder">
                    <div class="header">
                      <div class="line"></div>
                    </div>
                  </div>
                </div>

              </div>

            </div>

          </div>

        </div>

        <div class="row">

          <div class="column construct">

            <div class="strand">

              <div class="track">
                <div class="ui placeholder">
                  <div class="image"></div>
                </div>
              </div>

              <div class="track">
                <div class="ui placeholder">
                  <div class="image"></div>
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="five wide column">

      <div class="ui grid">

        <div class="two column row">

          <div class="column">
            <div class="ui placeholder">
              <div class="line"></div>
            </div>
          </div>

          <div class="column">
            <div class="ui placeholder">
              <div class="line"></div>
            </div>
          </div>

          <div class="sixteen wide column">
            <div class="ui divider"></div>
          </div>

        </div>

        <div class="row">

          <div class="sixteen wide column" style="height: 80vh; overflow: auto">

            <form class="ui form">

              <div class="field">
                <div class="ui placeholder">
                  <div class="paragraph">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                  </div>
                  <div class="paragraph">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                  </div>
                  <div class="paragraph">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                  </div>
                  <div class="paragraph">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                  </div>
                  <div class="paragraph">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                  </div>
                </div>
              </div>

              <div class="field">
                <button class="ui secondary right labeled fluid icon disabled button">
                  Submit
                  <i class="angle right icon"></i>
                </button>
              </div>

            </form>

          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="row">
    <div class="column">
      <div class="ui placeholder txt-c">
        <div class="line"></div>
      </div>
    </div>
  </div>

</div>
