:root {
  --main-color: #0069ff;
  --text-color: #fff;
  --hover-color: #e3efff;
  --error: #ff0000;
  --top-margin: 45px;
}

html {
  font-size: 70%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}

body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: #fff !important;
}

a {
  color: var(--main-color);
  text-decoration: none !important;
}

.ui.main.container {
  margin-top: var(--top-margin);
  min-height: 100%;
  margin-bottom: 4em;
}

.date {
  color: rgba(0,0,0,.4);
  font-size: 1rem;
  font-weight: bold;
  margin: 1em;

  &.l::before {
    content: '\2022';
    padding: 1.13571429rem;
  }

  &.r::after {
    content: '\2022';
    padding: 1.13571429rem;
  }
}

.error {
  font-weight: bold;
  color: var(--error);
}

.icon.disabled,
a.disabled {
  pointer-events: none;
  cursor: default;
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.meta {
  font-size: 1em !important;
  color: rgba(0,0,0,.4) !important;
}

span.ui.error {
  color: #ce3333;
}
/* Anchor */
.target,
:target {
  -webkit-animation: fadeIt 3s ease-in-out !important;
  -moz-animation: fadeIt 3s ease-in-out !important;
  -o-animation: fadeIt 3s ease-in-out !important;
  animation: fadeIt 3s ease-in-out !important;
}
/* Transition effects */
@-webkit-keyframes fadeIt {
  0% {
    background-color: #fff;
  }

  50% {
    background-color: #ffa;
  }

  100% {
    background-color: #fff;
  }
}
@-moz-keyframes fadeIt {
  0% {
    background-color: #fff;
  }

  50% {
    background-color: #ffa;
  }

  100% {
    background-color: #fff;
  }
}
@-o-keyframes fadeIt {
  0% {
    background-color: #fff;
  }

  50% {
    background-color: #ffa;
  }

  100% {
    background-color: #fff;
  }
}
@keyframes fadeIt {
  0% {
    background-color: #fff;
  }

  50% {
    background-color: #ffa;
  }

  100% {
    background-color: #fff;
  }
}
/* SEMANTIC OVERRIDE */
/* Form */
form.ui.form {
  &.padded {
    .field {
      margin-top: 2em;
    }
  }

  &.very.padded {
    .field {
      margin-top: 3em;
    }
  }
}
/* Button */
.ui.primary.button,
.ui.primary.buttons .button {
  background-color: var(--main-color);
  color: var(--text-color);
}

button.ui.button:not(.circular) {
  padding: 1em 1.2em !important;
}

.ui[class*="right labeled"].icon.button {
  padding-right: 4.7em!important;
  padding-left: 1.5em!important;
}
/* Progress */
.ui.progress .bar {
  height: 0.75em;
}
/* Header */
.sub.header {
  display: block;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.2em;
  color: rgba(0,0,0,.6);
}
/* Icon */
.link.icon {
  opacity: 0.65 !important;
}
/* Segment */
.ui.segment:not(.placeholder):not(.basic) {
  border-color: #edf2f9;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, .03);
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #edf2f9;
  border-radius: 0.5rem;
}

.ui.attached.segment,
.ui.segment,
.ui.segments {
  border-color: #edf2f9;
  box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
}

.ui.segment:not(.attached) {
  border-radius: 0.5rem;
}
/* Tooltip */
[data-tooltip] {
  &:before {
    content: none;
  }

  &[data-inverted]:after {
    background: rgba(97,97,97,.7) !important;
    color: #fff;
    border: none;
    box-shadow: none;
  }

  &[data-position="bottom center"][data-tooltip]:after {
    bottom: auto;
    right: auto;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    margin-top: 1.7em;
  }

  &:after {
    font-size: 0.9rem;
    padding: 0.7em !important;
  }
}
