<div class="ui internally celled grid">

  <div class="row">

    <div class="sixteen wide column">

      <div class="ui segment">

        <div class="ui segment placeholder">
          <div class="image header">
            <div class="line"></div>
            <div class="line"></div>
          </div>
          <div class="paragraph">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="row">

    <div class="thirteen wide column">

      <div class="ui segment placeholder">
        <div class="image header">
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="paragraph">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>

    </div>

    <div class="three wide column">
      <div class="ui segment placeholder">
        <div class="image header">
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="paragraph">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
    </div>

  </div>

</div>
