<div class="ui main fluid container p-4 mt-6">

  <div class="ui grid">

    <div class="row">

      <div class="ui container">

        <div class="sixteen wide column">

          <div class="ui padded one column grid">

            <div class="column">
              <div class="ui fluid placeholder">
                <div class="header">
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
              </div>
            </div>

            <div class="two column row">

              <div class="column">

              </div>

              <div class="column txt-r">

                <a class="disabled">
                  <i class="trash icon"></i>
                  Delete history
                </a>

              </div>

            </div>

            <div class="column">
              <div class="ui fluid placeholder">
                <div class="paragraph">
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="ui placeholder">
                <div class="paragraph">
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="row">

      <div class="ui container">

        <div class="sixteen wide column">

          <div class="ui padded form grid">

            <div class="one column row">
              <div class="column txt-c">
                <h2>Construct summary</h2>
              </div>
            </div>

            <div class="one column row">

              <div class="column">

                <div class="field">
                  <div class="ui fluid placeholder">
                    <div class="paragraph">
                      <div class="line"></div>
                    </div>
                  </div>
                </div>

                <div class="four inline fields">

                  <div class="field">
                    <div class="ui fluid placeholder">
                      <div class="paragraph">
                        <div class="line"></div>
                      </div>
                    </div>
                  </div>

                  <div class="field">
                    <div class="ui fluid placeholder">
                      <div class="paragraph">
                        <div class="line"></div>
                      </div>
                    </div>
                  </div>

                  <div class="field">
                    <div class="ui fluid placeholder">
                      <div class="paragraph">
                        <div class="line"></div>
                      </div>
                    </div>
                  </div>

                  <div class="field">
                    <div class="ui fluid placeholder">
                      <div class="paragraph">
                        <div class="line"></div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>

            </div>

            <div class="one column row">

              <div class="column">
                <h4 class="ui horizontal divider header">
                  <i class="bug icon"></i>
                  Organism
                </h4>
              </div>

              <div class="column">
                <div class="ui placeholder">
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                </div>

              </div>

            </div>

            <div class="one column row">

              <div class="column">
                <h4 class="ui horizontal divider header">
                  <i class="dna icon"></i>
                  Sequence
                </h4>
              </div>

              <div class="column">
                <p> <i class="info icon"></i> Click on sequence to display full content</p>

                <table class="ui blue padded sequence definition table">

                  <tbody>
                    <tr>
                      <th>DNA</th>
                      <td class="link">
                      </td>
                      <td>
                        <strong>Total:</strong>
                      </td>
                    </tr>
                    <tr>
                      <th>Protein</th>
                      <td class="link">
                      </td>
                      <td>
                        <strong>Total:</strong>
                      </td>
                    </tr>
                  </tbody>

                </table>
              </div>

            </div>

            <div class="one column row">

              <div class="column">
                <h4 class="ui horizontal divider header">
                  Tracks
                </h4>
              </div>

              <div class="column txt-r">
                <!-- <p class="meta">{{history.construct.n_tracks}} tracks</p> -->
              </div>

              <div class="column">

                <div class="construct">
                  <div class="strand">

                  </div>
                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="one column row">

      <div class="column">
        <div class="ui fluid placeholder">
          <div class="paragraph">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
          <div class="paragraph">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
      </div>

    </div>

  </div>
